<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; {{appName}} {{year}}</div>
            <div>
                <a href="javascript:alert('Developed by Shakti Phartiyal');">Privacy Policy</a>
                &middot;
                <a href="javascript:alert('Developed by Shakti Phartiyal');">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>