<div class="wrapper">
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        {{appName}}
    </div>
    <div class="text-center error-message">
        {{!!this.error ? error : ''}}
    </div>
    <form #resetForm="ngForm" (ngSubmit)="resetForm.form.valid && resetPassword()" class="p-3" autocomplete="off">
        <ng-container *ngIf="!hashValid else resetFormSection">
            <div class="text-center">
                <span *ngIf="loading">
                    <div class="row">
                        <div class="col-md-12">
                            <system-loader></system-loader>
                        </div>
                        <div class="col-md-12 mt-2">
                            Verifying link...
                        </div>
                    </div>
                </span>
                <div *ngIf="hashVerified && !hashValid" class="text-bg-danger">
                    The link you are trying is invalid or expired, please retry sending the reset password link.
                </div>
            </div>
        </ng-container>
        <ng-template #resetFormSection>
            <div [ngClass]="{'error-border': resetForm.submitted && !newPassword.valid}" class="form-field d-flex align-items-center">
                <span class="bi bi-key"></span>
                <input role="presentation" (input)="matchPasswords()" type="password" name="new-password" id="new-password" placeholder="New password" autocomplete="off" [(ngModel)]="model.newPassword" #newPassword="ngModel" required>
            </div>
            <div [ngClass]="{'error-border': resetForm.submitted && !repeatPassword.valid}" class="form-field d-flex align-items-center">
                <span class="bi bi-key"></span>
                <input role="presentation" (input)="matchPasswords()" type="password" name="repeat-password" id="repeat-password" placeholder="Repeat password" autocomplete="off" [(ngModel)]="model.repeatPassword" #repeatPassword="ngModel" required>
            </div>
            <div class="text-center text-bg-danger" [hidden]="passwordsMatch">
                Password do not match
            </div>
            <button [disabled]="loading || !passwordsMatch" type="submit" class="btn mt-3">Reset Password
                <span *ngIf="loading">
                    <system-loader></system-loader>
                  </span>
            </button>
        </ng-template>
    </form>
    <div class="text-center fs-6">
        <a [routerLink]="'/login'">Login</a>
    </div>
</div>