<div class="row">
    <div class="col-md-12">
      <system-data-box
      [loading]="loadingState"
      [title]="'Users'"
      [addButton]="true"
      (onAdd)="handleOnAdd();"
      [customButtons]="customButtons"
      (onCustomButtonClick)="handleOnCustomButtomClick($event)"
      >
        <div class="table-responsive">
          <system-grid
            #userGrid
            [data]="gridData.data"
            [columns]="gridData.columns"
            [tableClass]="'table table-sm'"
            [gridConfig]="gridData.config"
            [total]="gridData.total"
            (onPageChange)="handlePageChange($event)"
            (onSort)="handleOnSort($event)"
        >
          <tr *ngFor="let data of gridData.data" (click)="handleRowClick(data)">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td><span>{{data.signum}}</span></td>
            <td>{{data.email}}</td>
            <td>{{data.manager_name}}</td>
            <td>{{data.is_admin === 1 ? 'Admin' : 'User'}}</td>
            <td>{{data.team_name}}</td>
            <td>
                <span class="col">
                    <ng-container *ngIf="data.active == 0">
                    <i class="fa fa-times text-danger" title="Inactive"></i>
                    </ng-container>
                    <ng-container *ngIf="data.active == 1">
                    <i class="fa fa-check text-success" title="Active"></i>
                    </ng-container>
                </span>
              </td>
            <td>
              <button title="Delete" class="btn btn-danger system-grid-btn" (click)="$event.stopPropagation(); delete(data)" type="button">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </system-grid>
        </div>
      </system-data-box>
    </div>
  </div>
  <system-popup-container
      [editMode]="editMode"
      *ngIf="addPopup"
      (onCancel)="handleOnAddClose()"
      [title]="'User Details'"
      [formRef]="tdForm"
      [width]="'700px'"
      [saveButton]="true"
      [loading]="apiLoading"
  >
    <form #tdForm="ngForm" (ngSubmit)="tdForm.form.valid && handleOnPopupSave()">
      <div class="row">
        <div class="col-md-12">
          <system-textbox
          [formRef]="tdForm"
          name="id"
          [label]="'User Id'"
          [(ngModel)]="model.id"
          [readOnly]="true"
          [labelClass]="'col-md-3'"
          [inputClass]="'col-md-9'"
          ></system-textbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <system-textbox
            [formRef]="tdForm"
            name="name"
            [required]="true"
            [label]="'Name'"
            [(ngModel)]="model.name"
            [labelClass]="'col-md-3'"
            [inputClass]="'col-md-9'"
            ></system-textbox>
          </div>  
      </div>
      <div class="row">
        <div class="col-md-12">
            <system-textbox
            [formRef]="tdForm"
            name="signum"
            [required]="true"
            [label]="'Signum'"
            [(ngModel)]="model.signum"
            [labelClass]="'col-md-3'"
            [inputClass]="'col-md-9'"
            ></system-textbox>
          </div>  
      </div>
      <div class="row">
        <div class="col-md-12">
            <system-textbox
            [type]="'email'"
            [formRef]="tdForm"
            name="email"
            [required]="true"
            [label]="'Email'"
            [(ngModel)]="model.email"
            [labelClass]="'col-md-3'"
            [inputClass]="'col-md-9'"
            ></system-textbox>
          </div>  
      </div>
      <div class="row">
        <div class="col-md-12">
          <system-radio [formRef]="tdForm"
          name="active"
          [label]="'Status'"
          [(ngModel)]="model.active"
          [options]="activeData"
          [inLine]="true"
          [labelClass]="'col-md-3'"
          [inputClass]="'col-md-9'"
          >
          </system-radio>
        </div>
      </div>
      <div class="row" *ngIf="isAdmin">
        <div class="col-md-12">
          <system-dropdown-list
          [formRef]="tdForm"
          name="manager_name"
          [label]="'Manager'"
          [(ngModel)]="model.manager_id"
          [data]="managers"
          [inLine]="true"
          [required]="true"
          [labelClass]="'col-md-3'"
          [inputClass]="'col-md-9'">
          </system-dropdown-list>
        </div>
      </div>
      <div class="row" *ngIf="isAdmin">
          <div class="col-md-12">
            <system-dropdown-list
            [formRef]="tdForm"
            name="userType"
            [label]="'User type'"
            [(ngModel)]="model.is_admin"
            [data]="userType"
            [inLine]="true"
            [labelClass]="'col-md-3'"
            [inputClass]="'col-md-9'">
            </system-dropdown-list>
          </div>
      </div>
      <div class="row">
          <system-dropdown-list
          [(ngModel)]="model.team_id"
          [label]="'Add to team'"
          name="team"
          [data]="allTeams"
          [labelClass]="'col-md-3'"
          [inputClass]="'col-md-9'"
          ></system-dropdown-list>
      </div>
    </form>
  </system-popup-container>


  <system-popup-container
      [editMode]="false"
      *ngIf="bulkAddPopup"
      (onCancel)="handleOnBulkAddClose()"
      [title]="'Bulk user upload'"
      [formRef]="ubuForm"
      [width]="'800px'"
      [saveButton]="true"
      [loading]="apiLoading"
      [disabled]="apiLoading"
  >
    <form #ubuForm="ngForm" (ngSubmit)="ubuForm.form.valid && handleOnBulkPopupSave()">
      <div class="row">
        <div class="col-md-12">
          <strong>Note:</strong> Active users with same email / signum will not be added and ignored!
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <strong>Suported file: csv in the below format</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <code>
name,signum,username,password,is_admin,status,manager_signum,team_name<br/>
John Doe,eabcdef,john.doe@example.com,password,1,1,eghijkl,DTX<br/>
Jane Doe,epoiuyt,jane.doe@example.com,password,0,1,eghijkl,
            </code>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li>
                All fields are mandatory, except team_name which can be left empty if no team is to be assigned.
              </li>
              <li>
                <strong>is_admin</strong> possible values can be 1 for admin or 0 for normal user.
              </li>
              <li>
                <strong>status</strong> possible values can be 1 for active or 0 for inactive user.
              </li>
              <li>
                <strong>Note:</strong> Users are created sequentially, please ensure that the manager entry preceeds the users under him/her
              </li>
            </ul>
          </div>
        </div>
        <hr>
      <div class="row mt-2">
        <div class="col-md-3">
          Select File
        </div>
        <div class="col-md-5">
          <input type="file" name="bulkFile" (change)="onFileSelected($event)" [(ngModel)]="bulkFile" [required]="true"/>
          <input type="hidden" name="fileValid" [(ngModel)]="fileValid" [required]="true">
        </div>
        <div class="col-md-4">
          <span *ngIf="(bulkFile && !fileValid) && !csvHasErrors"><system-loader></system-loader> Validating file, please wait</span>
          <span *ngIf="bulkFile && fileValid"><i class="fa fa-check-circle" style="color: green;"></i> File Valid</span>
        </div>
      </div>
      <div class="row mt-2" *ngIf="csvErrors.length > 0">
        <div class="col-md-12">
          <div class="alert alert-danger" role="alert">
            <ul>
              <li *ngFor="let error of csvErrors">
                {{error}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-2" *ngIf="bulkAddResponse.length > 0">
        <div class="col-md-12">
          <div class="alert alert-primary" role="alert">
            <ul>
              <li *ngFor="let data of bulkAddResponse">
                {{data}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </system-popup-container>
  