<div class="wrapper">
    <div class="logo">
        <img src="assets/images/logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        {{appName}}
    </div>
    <div class="text-center error-message">
        {{!!this.error ? error : ''}}
    </div>
    <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && login(loginForm)" class="p-3" autocomplete="off">
        <div [ngClass]="{'error-border': loginForm.submitted && !email.valid}" class="form-field d-flex align-items-center">
            <span class="bi bi-person"></span>
            <input autofocus role="presentation" type="email" name="email" id="email" placeholder="Username / Email" autocomplete="off" [(ngModel)]="model.email" #email="ngModel" required>
        </div>
        <div [ngClass]="{'error-border': loginForm.submitted && !password.valid}" class="form-field d-flex align-items-center">
            <span class="bi bi-key"></span>
            <input role="presentation" type="password" name="password" id="password" placeholder="*******" autocomplete="off" [(ngModel)]="model.password" #password="ngModel" required>
        </div>
        <button [disabled]="loadingState" type="submit" class="btn mt-3">Login
            <span *ngIf="loadingState">
                <system-loader></system-loader>
              </span>
        </button>
    </form>
    <div class="text-center fs-6">
        <a href="javascript:void(0);" (click)="triggerForgotPassword();">Forgot password?</a>
    </div>
</div>

<system-popup-container
*ngIf="forgotPopupOpen"
[title]="'Forgot password'"
[formRef]="fpForm"
[width]="'600px'"
[saveButton]="false"
[cancelButton]="false"
>
<form #fpForm="ngForm" (ngSubmit)="fpForm.form.valid && handleOnForgotPassword()">
    <div class="row">
        <div class="col-md-12">
            Enter you email address below and to receive a password reset link.
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
          <system-textbox
          name="forgotPasswordEmail"
          [type]="'email'"
          [formRef]="fpForm"
          [(ngModel)]="forgotPasswordEmail"
          [required]="true"
          [label]="'Email'"
          [labelClass]="'col-md-2'"
          [inputClass]="'col-md-8'"
          ></system-textbox>
          </div>  
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
            <button [disabled]="forgotPasswordLoading" type="button" (click)="handleForgotPasswordCancel()" class="btn btn-warning">Cancel</button>
        </div>
        <div class="col-md-6">
            <button [disabled]="forgotPasswordLoading" type="submit" class="btn btn-success"><span *ngIf="forgotPasswordLoading"><i class="fa fa-spin fa-cog"></i>&nbsp;</span>Send reset link</button>
        </div>
      </div>
    </form>
</system-popup-container>