/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

.error-border {
    border: 1px solid red !important;
}

.neon-text {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
}

@keyframes neonGlow {
    from {
        text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    }
    to {
        text-shadow: 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
    }
}

.modal {
    background-color: #000000bd;
}